body {
    background-image: url("img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #434343;

}

.form_input {
    width: 325px;
    color: #eaeaea;
    box-sizing: border-box;
    padding: 15px;
    padding-left: 20px;
    margin-bottom: 14px;
    font-size: 11pt;
    border: 1px #eaeaea solid;

}

.form_input:focus {
    color: black;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    outline-width: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #3cb878;
}

a:hover {
    text-decoration: underline;
}

header {
    height: 56px;
    background-color: RGBA(0, 0, 0, 0.5);
    color: #fff;
}

.head_left {
    margin-left: 150px;
    margin-top: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20pt;
    float: left;
    display: inline-block;

}

.logo {
    text-decoration: none;
    color: #fff;
}

.logo:hover {
    color: #3cb878;
    text-decoration: none;
}

.head_right {
    margin-right: 150px;
    margin-top: 18px;
    display: inline-block;
    float: right;
}

section {
    width: 444px;
    height: 600px;
    background-color: #fff;
    margin: auto;
    border-radius: 15px;
    padding: 25px 60px;
    box-sizing: border-box;
    background-image: url("img/box.png");
    background-position: 0 35px;
    background-repeat: no-repeat;
}

main {
    display: flex;
    height: calc(100vh - 56px);
}

.icon {
    display: block;
    width: 28px;
    height: 20px;
    background-image: url("img/icons.png");
    float: left;
    margin-right: 22px;
}

.calendar {
    background-position: 0 0;
}

.calendar:hover {
    background-position: 0 20px;
}


.forum {
    background-position: 56px 0;

}

.forum:hover {
    background-position: 56px 20px;

}


.journey {
    background-position: 28px 0;
}

.journey:hover {
    background-position: 28px 20px;
}


.divider {
    background-color: #302e30;
    width: 1px;
    height: 20px;
    float: left;
    margin-right: 22px;
}

.divider_social {
    margin-left: 5px;
    margin-right: 15px;
}

.block {
    width: 158px;
    height: 45px;
    display: block;
    border-radius: 5px;
    box-sizing: border-box;

}

.signup {
    float: left;
    font-size: 16pt;
}

.login {
    float: right;
    text-align: right;
    padding-top: 4px;
    color: #3cb878;
}

.facebook {
    background-color: #305db8;
    float: left;
    padding: 12px 20px;
    color: white;
    margin-bottom: 15px;
}

.facebook:hover {
    background-color: #264B96;
    text-decoration: none;
}

.google {
    background-color: #df4a32;
    color: white;
    float: right;
    padding: 12px 20px;
    margin-bottom: 15px;
}

.google:hover {
    background-color: #C3412C;
    text-decoration: none;
}

.faw {
    font-size: 16pt;
}

.or {
    background-image: url("img/or.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 325px;
    height: 25px;
    display: block;
    clear: both;
    text-align: center;
    margin-bottom: 15px;
}

.submit {
    background-color: #3cb878;
    color: white;
    height: 45px;
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
    width: 325px;
    border: 0;
    font-size: 12pt;
    margin-top: 20px;
}

.submit:hover {
    background-color: #329A65;
}

label {
    padding-bottom: 20px;
}