html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.grey_bg {
    background-color: #f2f2f2;
    border: 1px #f2f2f2 solid;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2124;
}

header a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 20px;
}

h2 {
    color: #18b4cf;
    text-transform: uppercase;
    padding: 20px;
    font-size: 22pt;
    text-align: center;
}


.news {
    background-image: url("img/header.jpeg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20pt;

}

.news-content {
    text-align: center;
}

.logo {
    width: 200px;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 18pt;
    color: white;
    height: 70px;
    padding: 20px;
    padding-left: 80px;
    box-sizing: border-box;
    display: block;
    text-transform: initial;
}

.search {
    color: white;
    font-size: 18pt;
    background-color: #1a1d20;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    padding: 25px;
}


.button {
    font-size: 14pt;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    width: 150px;
    display: inline-block;
    text-decoration: none;
}

.button_subscribe {
    background-color: #89ca62;
}

.button_articles {
    background-color: #14b9d5;
    margin-left: 20px;
}


.pop-posts {
    display: flex;
    justify-content: center;

}

.pop-posts-content {
    width: 1200px;
    height: 870px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.pop-posts-content div {
    width: 370px;
    text-align: center;
    background-color: white;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.pop-posts-content a {
    font-size: 14pt;
    font-weight: bold;
    color: #353a3d;
    text-decoration: none;
}

.pop-posts-content img {
    margin-bottom: 15px;
}


.pop-clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . ." ". . . ." ". pop-clients_title pop-clients_title ." ". pop-clients_div pop-clients_div ." ". pop_clients_logos pop_clients_logos ." ". . . ." ". . . .";
    height: 600px;
    background-image: url("img/parallax.jpeg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.pop_clients_logos {
    grid-area: pop_clients_logos;
    justify-self: center;
}

.pop_clients_logos img {
    margin-right: 30px;
    margin-left: 30px;
}

.pop-clients_div {
    grid-area: pop-clients_div;
    align-self: center;
    justify-self: center;
}

.pop-clients_title {
    grid-area: pop-clients_title;
    color: white;
    font-size: 22pt;
    text-transform: uppercase;
    justify-self: center;
    align-self: end;
}


.top-rated {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.top-rated img {
    width: 100%;
}


.hot-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 260px 440px 440px 260px;
    grid-template-areas: ". . one one one one one one two two . ." ". . three three three three four four four four . ." ". . five five five five six six six six . ." ". . seven seven eight eight eight eight eight eight . .";
    grid-gap: 4vh;
    margin-bottom: 50px;
}

.hot-news div {
    background-color: #f9f7f7;
    color: #5b6469;
}

.hot-news h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #353a3d;
}

.one {
    grid-area: one;
    display: flex;
}

.one div {
    padding: 30px;
    text-align: right;
}

.two {
    grid-area: two;
    text-align: center;
}

.three {
    grid-area: three;
}

.three div {
    padding: 10px 30px;
    text-align: right;
}

.four {
    grid-area: four;
}

.four div {
    padding: 10px 30px;
    text-align: right;
}

.five {
    grid-area: five;
}

.five div {
    padding: 10px 30px;
    text-align: right;
}

.six {
    grid-area: six;
}

.six div {
    padding: 10px 30px;
    text-align: right;
}


.seven {
    grid-area: seven;
    text-align: center;
}

.eight {
    grid-area: eight;
    display: flex;
}

.eight div {
    padding: 30px;
    text-align: right;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px;
    grid-template-areas: ". . footer-left footer-left footer-left footer-left footer-right footer-right footer-right footer-right . .";
    background-color: #1d2124;
    color: white;
    }

.footer-left {
    grid-area: footer-left;
    padding-top: 30px;
}

.footer-right {
    grid-area: footer-right;
    text-align: right;
    padding-top: 30px;
}