.main-header {
  margin-bottom: 5px;
}
.navbar {
  height: 74px;
  padding-left: 38px;
}
.nav-text {
  font-size: 24px;
}
.nav-btn {
  width: 82px;
  font-size: 34px;
}
.nav-menu {
  position: absolute;
  width: 243px;
  top: 74px;
  right: 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
}
.nav-menu-item {
  display: block;
  box-sizing: border-box;
  background-color: #fafafa;
  font-size: 14px;
  padding: 21px 0 21px 27px;
  margin: 0;
  color: #444444;
  width: 100%;
  border-bottom: 2px solid #e9e9e9;
}
.nav-menu-item:last-child {
  border-bottom: none;
}
.logo {
  display: none;
}
.slogan-section {
  background-image: url(../img/slogan_background_640.jpg);
  height: 346px;
  padding-top: 30px;
  padding-left: 38px;
}
.slogan {
  font-size: 36px; 
  line-height: 48px;
  margin-bottom: 22px;
}
.web-address {
  font-size: 24px;
}

/* SERVECES SECTION */
.services-section {
  flex-direction: column;
}
.services-item {
  justify-content: space-between;
  align-items: center;
  font-size: 36px;
  height: 150px;
  width: 100%;
  margin-bottom: 4px;
}
.service-name.bg1 {
  background-image: url(../img/pizza_delivery_service_640.jpg)
}
.service-name.bg2 {
  background-image: url(../img/salads_service_640.jpg)
}
.service-name.bg3 {
  background-image: url(../img/desserts_service_640.jpg)
}
.arrow-btn {
  width: 164px;
}

/* MENU SECTION */
.menu-section {
  margin-top: 45px;
}
.menu-section-heading {
  padding: 0 21px;
}
.menu-section-heading h2 {
  font-size: 35px;
}
.menu-section-heading span {
  font-size: 20px;
  margin-top: 7px;
}
.menus-wrapper {
  margin-top: 20px;
}
.menu-heading {
  padding: 23px 0 23px 38px;
  font-size: 40px;
}
.menu-content {
  padding: 0 39px 39px;
}
.menu-subheading {
  font-size: 30px;
  margin-top: 39px;
  margin-bottom: 12px;
}
.menu-icon {
  font-size: 48px;
  bottom: 7px;
}
.menu-item-name {
  font-size: 27px;
  margin-bottom: 16px;
}
.menu-item-description {
  font-size: 17px;
  margin-bottom: 22px;
}

/* FOOTER */
.footer {
  height: 97px;
  margin-top: 77px;
}
.footer-text1 {
  font-size: 18px;
  line-height: 28px;
}