body {
  font-family: 'Lato', sans-serif;
}

/* NAVBAR */
.navbar {
  font-family: Montserrat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34393d;
}
.nav-text {
  color: white;
}
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #1a2025;
  height: 100%;
  text-align: center;
  color: white;
}
.nav-menu {
  display: none;
}
.nav-menu.active {
  display: block;
}
.nav-menu-item {
  display: inline;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  margin-right: 32px;
  transition: 0.3s;
}
.nav-menu-item:last-child {
  margin-right: 0;
}
.slogan-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slogan {
  color: white;
  font-weight: 700;
  text-align: left;
}
.web-address {
  color: #a6d6e0;
  font-weight: 700;
  text-align: left;
}

/* SERVECES SECTION */
.services-section {
  display: flex;
}
.services-item {
  display: flex;
  color: white;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}
.service-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #add9af;
}

/* MENU SECTION */
.menu-section-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.menu-section-heading h2 {
  color: #3f4043;
  font-weight: 400;
  text-transform: uppercase;
}
.menu-section-heading span {
  display: block;
  text-transform: none;
  color: #cbcdce;
  font-weight: 400;
  text-align: left;
}
.menu-logo {
  display: none;
}
.menus-wrapper {
  display: flex;
  flex-direction: column;
}
.menu-heading {
  text-align: left;
  text-transform: uppercase;
}
.menu-heading.dark {
  color: #acd9ad;
  background-color: #3d3e41;
}
.menu-heading.light {
  color: white;
  background-color: #add9af;
}
.menu-subheading {
  display: flex;
  justify-content: space-between;
  color: #3f4043;
  text-transform: uppercase;
}
.menu-icon {
  color: #add9af;
  position: relative;
}
.menu-item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-price {
  font-weight: 700;
}
.menu-item-description {
  text-align: justify;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #add9af;
  font-family: 'Montserrat', sans-serif;
}
.footer-logo {
  display: none;
}
.footer-text1 {
  color: white;
  font-weight: 400;
  text-align: center;
}
.footer-text2 {
  color: white;
  font-weight: 400;
  font-size: 18px;
  display: none;
}