.main-header {
  margin-bottom: 6px;
}
.navbar {
  height: 97px;
  padding-left: 30px;
  padding-right: 30px;
}
.nav-text {
  display: none;
}
.nav-btn {
  display: none;
}
.nav-menu {
  display: block;
}
.slogan-section {
  background-image: url(../img/slogan_background_980.jpg);
  height: 530px;
  padding-top: 64px;
  padding-left: 38px;
}
.slogan {
  font-size: 54px; 
  line-height: 68px;
  margin-bottom: 47px;
}
.web-address {
  font-size: 34px;
}
.nav-menu-item {
  text-transform: uppercase;
}
.nav-menu-item:hover {
  color: gold;
}

/* SERVECES SECTION */
.services-section {
  flex-direction: column;
  flex-direction: row;
}
.services-item {
  justify-content: space-between;
  align-items: center;
  font-size: 38px;
  height: 327px;
  width: 100%;
}
.services-item:hover {
  color: gold;
}
.service-name.bg1 {
  background-image: url(../img/pizza_delivery_service_980.jpg)
}
.service-name.bg2 {
  background-image: url(../img/salads_service_980.jpg)
}
.service-name.bg3 {
  background-image: url(../img/desserts_service_980.jpg)
}
.arrow-btn {
  display: none;
}

/* MENU SECTION */
.menu-section {
  margin-top: 41px;
}
.menu-section-heading {
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 30px;
}
.menu-section-heading h2 {
  font-size: 34px;
}
.menu-section-heading span {
  font-size: 20px;
  margin-top: 8px;
}
.menu-logo {
  display: block;
}
.menus-wrapper {
  margin-top: 31px;
}

/* MENU SECTION */
.menu-section {
  margin-top: 72px;
}
.menu-section-heading {
  padding: 0 21px;
}
.menu-section-heading h2 {
  font-size: 34px;
}
.menu-section-heading span {
  font-size: 20px;
  margin-top: 7px;
}
.menus-wrapper {
  flex-direction: row;
  margin-top: 21px;
}
.menu-heading {
  padding: 27px 0 27px 18px;
  font-size: 40px;
}
.menu-content {
  padding: 0 39px 39px;
}
.menu-subheading {
  font-size: 26px;
  margin-top: 41px;
  margin-bottom: 14px;
}
.menu-icon {
  font-size: 42px;
  bottom: 7px;
}
.menu-item-name {
  font-size: 24px;
  margin-bottom: 15px;
}
.menu-item-description {
  font-size: 16px;
  margin-bottom: 28px;
}

/* FOOTER */
.footer {
  justify-content: space-between;
  height: 97px;
  margin-top: 56px;
  padding: 0 30px;
}
.footer-text1 {
  display: none;
}
.footer-text2 {
  display: block;
}
.footer-logo {
  display: block;
}