.main-header {
  margin-bottom: 4px;
}
.navbar {
  height: 37px;
  padding-left: 19px;
}
.nav-text {
  font-weight: 400;
}
.nav-btn {
  width: 41px;
  font-size: 18px;
}
.nav-menu {
  position: absolute;
  right: 0;
  top: 37px;
  width: 182px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
}
.nav-menu-item {
  display: block;
  box-sizing: border-box;
  background-color: #fafafa;
  font-size: 12px;
  padding: 14px 0 12px 14px;
  margin: 0;
  color: #444444;
  width: 100%;
  border-bottom: 2px solid #e9e9e9;
}
.nav-menu-item:last-child {
  border-bottom:  none;
}
.logo {
  display: none;
}
.slogan-section {
  background-image: url(../img/slogan_background_640.jpg);
  min-height: 173px;
  padding-top: 19px;
  padding-left: 20px;
  margin-bottom: 4px;
}
.slogan {
  font-size: 16px; 
  line-height: 25px;
  margin-bottom: 11px;
}
.web-address {
  font-size: 14px;
}

/* SERVECES SECTION */
.services-section {
  flex-direction: column;
}
.services-item {
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  height: 75px;
  width: 100%;
  margin-bottom: 2px;
}
.service-name.bg1 {
  background-image: url(../img/pizza_delivery_service_320.jpg)
}
.service-name.bg2 {
  background-image: url(../img/salads_service_320.jpg)
}
.service-name.bg3 {
  background-image: url(../img/desserts_service_320.jpg)
}
.arrow-btn {
  width: 90px;
}

/* MENU SECTION */
.menu-section {
  margin-top: 26px;
}
.menu-section-heading {
  padding: 0 9px;
}
.menu-section-heading h2 {
  font-size: 17px;
}
.menu-section-heading span {
  font-size: 10px;
  margin-top: 3px;
}
.menus-wrapper {
  margin-top: 10px;
}
.menu-heading {
  font-size: 20px;
  padding: 12px 0 12px 19px;
}
.menu-content {
  padding: 0 19px 22px 19px;
}
.menu-subheading {
  font-size: 15px;
  margin-top: 22px;
  margin-bottom: 10px;
}
.menu-icon {
  font-size: 25px;
  bottom: 5px;
}
.menu-item-name {
  font-size: 14px;
  margin-bottom: 8px;
}
.menu-item-description {
  font-size: 9px;
  margin-bottom: 11px;
}

/* FOOTER */
.footer {
  height: 70px;
  margin-top: 31px;
}
.footer-text1 {
  font-size: 14px;
  line-height: 22px;
}