body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #303030;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 14pt;
}


a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #f26522;
}

.content {
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url("img/bg.jpg");

}

header {
    height: 140px;
}

.contacts {
    float: right;
    margin-top: 50px;
    margin-right: 151px;
    text-align: right;
}

.logo {
    display: block;
    width: 160px;
    float: left;
    margin-top: 45px;
    margin-left: 151px;
}


#onhover {
    display: none;
}

#surround:hover img[id="initial"] {
    display: none;
}

#surround:hover img[id="onhover"] {
    display: block;
}

.fl {
    float: left;
}

.h1 {
    margin: 0;
    padding: 0;
    padding-top: 2px;
    line-height: 20px;
    font-size: 24pt;
    float: right;
    font-weight: bold;
}


.holidays {
    font-size: 15pt;
    letter-spacing: 0.4pt;
    font-weight: normal;
}

section {
    margin: 0 auto;
    height: 590px;
    width: 1064px;
    text-align: center;
}


.card {
    float: left;
    margin-bottom: 50px;
    display: block;

}

.photo {
    display: block;
    height: 200px;
    width: 310px;
    background-size: cover;
    margin-bottom: 18px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    box-sizing: border-box;
    border: 2px solid transparent;
    border-image: linear-gradient(white, black) 30;


}

.central {
    margin-right: 67px;
    margin-left: 67px;
}

.photo1 {
    background-image: url("img/shop.png");
}

.photo2 {
    background-image: url("img/sight.png");
}

.photo3 {
    background-image: url("img/food.png");
}

.photo4 {
    background-image: url("img/bars.png");
}

.photo5 {
    background-image: url("img/art.png");
}

.photo6 {
    background-image: url("img/walk.png");
}

.orange {
    background-color: #F26522;
    margin-top: 130px;
    text-align: left;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: block;
    color: white;

    transition: all 0.5s;
    opacity: 0;
    position: relative;
    top: 50px;
}

.view_details {
    float: right;
    font-size: 13pt;
    display: block;

}

.view_details:after {
    content: " ›";
}

.font8 {
    font-size: 8pt;

}

.font17 {
    font-size: 17pt;

}

footer {
    text-align: center;
    font-size: 10pt;

}


#link1:hover #card1 {
    opacity: 1;
    transform: translateY(-50px);
}

#link2:hover #card2 {
    opacity: 1;
    transform: translateY(-50px);
}

#link3:hover #card3 {
    opacity: 1;
    transform: translateY(-50px);
}

#link4:hover #card4 {
    opacity: 1;
    transform: translateY(-50px);
}

#link5:hover #card5 {
    opacity: 1;
    transform: translateY(-50px);
}

#link6:hover #card6 {
    opacity: 1;
    transform: translateY(-50px);
}
