body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.page {
    width: 1280px;
    margin: 0 auto;
}

header {
    margin-bottom: 50px;
}

.logo {
    font-size: 74px;
    color: rgba(0, 0, 0, 255);
    padding-top: 40px;
    padding-bottom: 45px;
    display: block;
    text-decoration: none;
}

.blue {
    color: #4bcaff;
}

.ram {
    border: 1px black solid;
    text-align: center;
    margin-bottom: 40px;
}


.image {
    overflow: hidden;
    width: 320px;
    height: 381px;
    padding: 75px;
    margin: 0 auto;


}

.image img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.image img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}


p {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 17px;
}


.menutop {
    background-color: #35444f;
    text-align: center;
}

.menutopitem {
    color: #ffffff;
    font-size: 26px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;


}

.menutopitem:hover {
    background-color: #222f3a;
    border-right: 1px #dbdbdb solid;
    border-left: 1px #dbdbdb solid;
    padding-left: 29px;
    padding-right: 29px;
}

.leftcol {
    width: 344px;
    float: left;
    border: 1px black solid;
    padding: 0;
    margin: 0;
}

.leftcolitem {
    font-size: 25px;
    color: #6d7982;
    padding: 30px;
    display: block;
}

.leftcolitem:hover {
    background-color: #dbdbdb;
    padding-left: 50px;

}

.content {
    width: 885px;
    float: right;
    margin-bottom: 30px;


}

.footer {
    clear: both;
    background-color: #b4b7ba;
}

.footeritem {
    font-size: 24px;
    display: inline-block;
    padding: 20px;
}

.footeritem:hover {
    text-decoration: underline;
    color: #3181a6;
}

.copyright {
    font-size: 24px;
    display: inline-block;
    padding: 20px;
    padding-right: 50px;
    float: right;
}