body {
    font-family: 'Arial';
    font-size: 11.5pt;
    display: flex;
}

.button {
    padding: 5px 10px;
    border: 1px darkslategrey;
    color: white;
    background-color: cadetblue;
    cursor: pointer;
}

.card {
    box-sizing: border-box;
    width: 230px;
    min-height: 80px;
    padding: 10px;
    margin-bottom: 10px;
}

.add_col {
    position: absolute;
    margin-top: calc(100vh - 50px);
}

.add_card {
    position: absolute;
    right: 0;
    bottom: 0;
}

.sort_card {
    position: absolute;
    left: 0;
    top: 0;
}

.column {
    display: inline-block;
    position: relative;
    width: 250px;
    box-sizing: border-box;
    min-height: 200px;
    background-color: #ebecf0;
    margin: 10px;
    padding: 40px 10px;
}
