body {
    background-color: #3a4965;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #484848;
}

table {
    background-color: #fafafa;
}

th, td {
    padding: 20px;

    background-image: url("shadow.png");
    background-repeat: no-repeat;
    background-position: right;
}



.tf {
    padding:30px;
}

.button {
    width: 190px;
    height: 27px;
    color: #fff;
    display: inline-block;
    font-size: 13pt;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 15px;
}

.button:hover {
    text-decoration: underline;
}

.grey {
    background-color: #484848;
    border-bottom: 8px #404040 solid;

}

.green {
    background-color: #89c331;
    border-bottom: 8px #79B027 solid;
}

.red {
    background-color: #f04a56;
    border-bottom: 8px #DF3A46 solid;
}

.darkgreen {
    background-color: #20807c;
    border-bottom: 8px #16736F solid;
}

.white_light {
    background-color: #FAFAFA;
}

.white_medium {
    background-color: #F2F2F2;

}

.white_dark {
    background-color: #E3E3E3;
}


.green_top {
    background-color: #89c331;
    font-size: 18pt;
    color: white;
}

.red_top {
    background-color: #f04a56;
    font-size: 18pt;
    color: white;
}

.darkgreen_top {
    background-color: #20807c;
    font-size: 18pt;
    color: white;
}

.dark {
    background-color: #DDDDDD;
}

.big_icon {
    font-size: 18pt;
    color: #848484;
    padding-right: 10px;
}

.font_pricing {
    font-size: 20pt;
}

.font_chose {
font-size: 14pt;
}

.price {
    padding: 0;
    margin: 0;
    background-image: none;
    text-align: left;
}

.price_first {
    font-size: 46pt;
   font-weight: bold;
}

.price_second {
    font-size: 18pt;
    font-weight: bold;

}